<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Agu+Display&family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">
        <title>
            Pay Later Service
        </title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <div class="heading">
            <h1>PAY LATER SERVICE</h1>
        </div>
        <div class="main-div">
            <form action="" method="get">
            <a href="/"><button type="submit">Reports</button></a>
            <a href="/addmerchant"><button type="submit">Merchants</button></a>
            <a href="/adduser"><button type="submit">Users</button></a>

            </form>
            
        </div>
    </body>
</html>