<!DOCTYPE html>
<html>
    <head>
        <style>
            div {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
        </style>
    </head>
    
<body>
    <div class="mer-div">
        <h1>Add Merchant</h1>
        <form method="post">
            <P>Enter User Name</P>
            <input type="text" placeholder="name" name="name">
            <p>Enter Item</p>
            <input type="item" placeholder="item" name="item">
            <p>Enter Price</p>
            <input type="number" placeholder="price" name="price">
            <p>Enter Pay App</p>
            <input type="text" placeholder="App" name="pay_app">
            <button type="submit">Submit</button>
        </form>
    </div>
</body>

</html
