<!DOCTYPE html>
<html>
    <head>
        <style>
            div {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
        </style>
    </head>
    
<body>
    <div class="mer-div">
        <h1>Add Merchant</h1>
        <form method="post">
            <P>Enter App Name</P>
            <input type="text" placeholder="app">
            <p>Enter txn rate</p>
            <input type="number" placeholder="trx_rate">
            <button type="submit">Submit</button>
        </form>
    </div>
</body>

</html