<!DOCTYPE html>
<html>
    <head>
        <style>
            div {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
        </style>
    </head>
    
<body>
    <div class="mer-div">
        <h1>Add Merchant</h1>
        <form method="post">
            <P>Enter User Name</P>
            <input type="text" placeholder="name" name="name">
            <p>Enter email</p>
            <input type="email" placeholder="email" name="email">
            <p>Enter Phn number</p>
            <input type="number" placeholder="phn no" name="phone">
            <p>Enter Address</p>
            <input type="text" placeholder="Address" name="address">
            <p>Enter Credit limit</p>
            <input type="number" placeholder="credit limit" name="credit_limit">
            <p>Enter Due</p>
            <input type="number" placeholder="due" name="due">
            <button type="submit">Submit</button>
        </form>
    </div>
</body>

</html